:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color:  #2196F3;
}
    body {
    color: #000;
    background-color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    
}
ul {list-style-type: none; }
    .header-link 
    {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        text-decoration-line:none;
        color: var(--title-text-color);
    }
        
    
/*реакция ссылок*/
    .header-link:hover,    
    .header-link:focus { 
                
                font-weight: 500;
                font-size: 14px;
                line-height: 16px;
                letter-spacing: 0.02em;
                text-decoration-line: none;
                color: var(--accent-color);
                } 
                /*стили для index.html*/ 
    .hero       
                {
                    background: #2F303A;
                }
    .hero-title 
                {
                font-weight: 900;
                font-size: 44px;
                line-height: 60px;
                color: #FFFFFF;
                }
    .hero-btn {
                font-weight: bold;
                font-size: 16px;
                line-height: 30px;
                display: flex;
                align-items: center;
                text-align: center;
                letter-spacing: 0.06em;
                color: #FFFFFF;

}
    .advantage-title 
                {
                font-weight: bold;
                font-size: 14px;
                line-height: 16px;
                letter-spacing: 0.03em;
                text-transform: uppercase;
                color: var(--title-text-color);
                }
    .advantage-text 
                {
                font-weight: normal;
                font-size: 14px;
                line-height: 24px;
                letter-spacing: 0.03em;
                color: var(--primary-text-color);
                } 
    .function-title 
                {
                    font-weight: bold;
                    font-size: 36px;
                    line-height: 42px;
                    text-align: center;
                    letter-spacing: 0.03em;
                    color: var(--title-text-color);
                } 
    .staff-title 
                {
                    font-weight: bold;
                    font-size: 36px;
                    line-height: 42px;
                    text-align: center;
                    letter-spacing: 0.03em;  
                    color: var(--title-text-color);
                } 
    .staff-name 
                {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 19px;
                    text-align: center;
                    letter-spacing: 0.03em;
                    color: var(--title-text-color);
                } 
    .staff-position 
                {
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 19px;
                    text-align: center;
                    letter-spacing: 0.03em;
                    color: var(--primary-text-color);
                } 
    .footer-logo 
                {
                    font-weight: bold;
                    font-size: 26px;
                    line-height: 31px;
                    letter-spacing: 0.03em;  
                    color: var(--accent-color);   
                }
    .footer-link 
                {
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 24px;
                    letter-spacing: 0.03em;
                    text-decoration-line: none;
                    color: rgba(255, 255, 255, 0.6);
                } 
    .list-buttons 
                {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 26px;      
                    text-align: center;
                    letter-spacing: 0.03em;
                    color: var(--title-text-color);
                }
                /*активные кнопки*/
                .list-buttons:hover,    
                .list-buttons:focus 
                {
                font-weight: 500;
                font-size: 14px;
                line-height: 16px;
                letter-spacing: 0.02em;
                color: #2196F3;
                } 
    .projects-title 
                {
                font-weight: bold;
                font-size: 18px;
                line-height: 36px;
                letter-spacing: 0.06em;
                color: var(--title-text-color);
                }
    .projects-text 
               {
                font-weight: normal;
                font-size: 16px;
                line-height: 30px;
                letter-spacing: 0.03em;
                color: var(--primary-text-color);
               }
    .footer 
                {
                background: #2F303A;   
                }
    .footer-address 
                {
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 24px;
                letter-spacing: 0.03em;
                text-decoration-line: none;
                color: var(--primary-text-color);
                } 
            

                